<header class="header">
  <div class="header__container">
    <div class="header__box-profile-img">
      <img src="assets/images/harry.jpg" alt="Harry van Breda" class="header__profile-img">
    </div>
    <div class="header__box-name">
      <h1 class="heading heading--primary heading--move-left">harry</h1>
      <h2 class="heading heading--secundary heading--move-up">van breda</h2>
      <h3 class="heading heading--tertiary">curriculum vitae</h3>
    </div>
  </div>
</header>
<div class="nav">
  <input type="checkbox" class="nav__checkbox" id="navi-toggle">
  <label for="navi-toggle" class="nav__button">
    <span class="nav__icon"></span>
  </label>
  <div class="nav__background"></div>
  <nav class="nav__nav">
    <ul class="nav__list" id="navi">
      <li class="nav__item">
        <a
          routerLink="/personalia"
          routerLinkActive="nav__link--active"
          [routerLinkActiveOptions]="{exact: true}"
          class="nav__link"
          (click)="closeNav()">
          over mij
        </a>
      </li>
      <li class="nav__item">
        <a
          routerLink='/opleidingen'
          routerLinkActive="nav__link--active"
          class="nav__link"
          (click)="closeNav()">
          opleiding / cursussen
        </a>
      </li>
      <li class="nav__item">
        <a
          routerLink='/werkervaring'
          routerLinkActive="nav__link--active"
          class="nav__link"
          (click)="closeNav()">
          werkervaring
        </a>
      </li>
      <li class="nav__item">
        <a
          routerLink='/portfolio'
          routerLinkActive="nav__link--active"
          class="nav__link"
          (click)="closeNav()">
          portfolio
        </a>
      </li>
    </ul>
  </nav>
</div>

