.container  {
  display: grid;
  grid-template-columns: minmax(8rem, 2fr) 10fr;
  grid-gap: 1.25rem;
}

.grid-1 {
  grid-column: 1;
}

.grid-1-full {
  grid-column: 1 / -1;
}

.grid-2 {
  grid-column: 2;
}

.flexcontainer {
  display: flex;
}

.left-box {
  margin-top: 1.25rem;
  min-width: 9.25rem;
}

.right-box {
  margin-top: 1.25rem;
  margin-right: auto;
}