<section class="content">
  <div class="container">
    <div class="grid-1-full">
      <h3 class="heading--tertiary">Werkervaring:</h3>
    </div>
    <div class="grid-1">Mei 2015 / Heden:</div>
    <div class="grid-2">
      Improvement Center<br>
      <span class="title">Specialist Kwaliteit</span><br>
      Scrum master, Data analyse, (proces) verbetervoorstellen,
      Advies, projecten, rapportages, incident- en
      problemmanagement.
    </div>
    <div class="grid-1">Mrt 2012 / Apr 2015:</div>
    <div class="grid-2">
      KPN Backoffice<br>
      <span class="title">Supervisor</span><br>
      Coaching van medewerkers, Data analyse,
      verantwoordelijk voor meerdere projecten.
    </div>
    <div class="grid-1">Mrt 2008 / Feb 2012:</div>
    <div class="grid-2">
      KPN Backoffice<br>
      <span class="title">2e lijns Helpdeskmedewerker</span><br>
      Dagmanager en technisch aanspreekpunt.
    </div>
    <div class="grid-1">Mrt 2007 / Feb 2008:</div>
    <div class="grid-2">
      Friesland Foods<br>
      <span class="title">Administratief medewerker</span>
    </div>
    <div class="grid-1">Aug 2006 / Jan 2007:</div>
    <div class="grid-2">
      ISC<br>
      <span class="title">Incident manager</span>
    </div>
    <div class="grid-1">Mei 2006 / Jul 2006:</div>
    <div class="grid-2">
      DHV<br>
      <span class="title">Servicedesk medewerker</span>
    </div>
    <div class="grid-1">Aug 2003 / Apr 2006:</div>
    <div class="grid-2">
      Diverse uitzendburo's<br>
      <span class="title">Administratief medewerker</span>
    </div>
  </div>
</section>
