<section class="content">
  <div class="container">
    <div class="grid-1-full">
      <h3 class="heading--tertiary">Opleidingen:</h3>
    </div>
    <div class="grid-1">1999/2003:</div>
    <div class="grid-2-full">ROC Amersfoort - Technische Informatica MBO-4 </div>
    <div class="grid-1">1995/1999:</div>
    <div class="grid-2-full">Farel Collega Amersfoort - HAVO</div>
    <div class="grid-1-full">
      <h3 class="heading--tertiary">Cursussen:</h3>
    </div>
  </div>
    
    <section *ngFor="let course of courses" class="flexcontainer">
      <div class="left-box">{{ course.year }}</div>
      <div class="right-box">{{ course.desc }}</div>
    </section>

</section>
