button {
  display: block;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  color: inherit;
  background-color: $color-icyblue;
  box-shadow: 0 .5rem 1rem rgba(#000, .3);
  transition: all .2s;
  &:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 .8rem 1.5rem rgba(#000, .3);
  }
  &:active {
    outline: none;
  }
  &:focus {
    transform: translateY(-.2rem);
    box-shadow: 0 .6rem 1.3rem rgba(#000, .3);
  }
}
