.nav {
  max-width: 900px;
}
  .nav__checkbox {
    display: none;
  }
  .nav__button {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    opacity: .5;
    background-color: $color-light;
    box-shadow: 0 1rem 3rem rgba($color-dark, .1);
    z-index: 13;
    @media screen and (min-width: 768px) {
      visibility: hidden;
    }
  }
  .nav__nav {
    width: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    opacity: 0;
    background-image: linear-gradient($color-icyblue, $color-icyblue-darker);
    z-index: 12;
    @media screen and (min-width: 768px) {
      position: fixed;
      visibility: visible;
      width: 100%;
      top: 225px;
      height: 4rem;
      opacity: 1;
      box-shadow: 1rem 1rem 1.5rem rgba($color-dark, .2);
      background-image: none;
      background-color: $color-icyblue;
    }
  }
  .nav__list {
    width: 100%;
    position: absolute;
    text-align: center;
    list-style: none;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
  .nav__item {
    margin: 1rem;
  }
  // .nav__link {
  // }
    .nav__link:link,
    .nav__link:visited {
      display: inline-block;
      width: 16rem;
      padding: .5rem .5rem;
      font-size: 1.2rem;
      font-weight: 100;
      color: $color-light;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-light 50%);
      background-size: 250%;
      transition: all .4s;
      @media screen and (min-width: 500px) {
        width: 28rem;
        padding: 1rem 2rem;
        font-size: 2.5rem;
        font-weight: 300;
      }
      @media screen and (min-width: 768px) {
        width: 100%;
        padding: 0;
        font-size: 1.2rem;
        color: $color-dark;
        transition: none;
      }
      @media screen and (min-width: 768px) {
        width: 100%;
        padding: 0;
        font-size: 1.2rem;
        color: $color-dark;
        transition: none;
      }
    }
    .nav__link:hover,
    .nav__link:active {
      color: $color-dark;
      background-position: 100%;
      @media screen and (min-width: 768px) {
        border-bottom: 2px solid $color-dark;
        background-position: 0%;
      }
    }
    .nav__link--active {
      background-color: $color-icyblue-darker;
      @media screen and (min-width: 768px) {
        border-bottom: 2px solid $color-dark;
        background-color: transparent;
      }
    }

  .nav__checkbox:checked ~ .nav__nav {
    width: 100%;
    opacity: 1;
    visibility: visible;
  }

  .nav__icon {
    position: relative;
    margin-top: 2rem;
  }
    .nav__icon,
    .nav__icon::before,
    .nav__icon::after {
      display: inline-block;
      width: 2rem;
      height: 2px;
      background-color: $color-dark;
      transition: all .2s;
    }
    .nav__icon::before,
    .nav__icon::after {
      content: "";
      position: absolute;
      left: 0px;
    }
    .nav__icon::before {
      top: -.5rem;
    }
    .nav__icon::after {
      top: .5rem;
    }

  .nav__button:hover .nav__icon::before {
    top: -.6rem;
  }
  .nav__button:hover .nav__icon::after {
    top: .6rem;
  }

  .nav__checkbox:checked + .nav__button .nav__icon {
    background-color: transparent;
  }
  .nav__checkbox:checked + .nav__button .nav__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  .nav__checkbox:checked + .nav__button .nav__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
