.skill {
  margin-top: 1.5rem;
  width: 90%;
  max-width: 16rem;
}
.skill__row {
  display: flex;
  justify-content: space-between;
  }
  .skill__item {
    margin-right: .4rem;
    margin-bottom: .3rem;
  }
    .skill__item--small {
      font-size: 1.2rem;
      font-weight: bold;
      margin-left: .5rem;
      letter-spacing: .2rem;
    }
    .skill__item--medium {
      font-size: 1.5rem;
      margin-right: 2rem;
    }
    .skill__item--large {
      font-size: 2rem;
    }
    .skill__item--largest {
      font-size: 2.4rem;
      font-weight: bolder;
    }
    .skill__item--blue {
      color: $color-icyblue-darker;
    }
    .skill__item--margin-left {
      margin-left: 2rem;
    }
