.heading {
  color: $color-dark;
  line-height: 2rem;
  @media screen and (min-width: 500px) {
    line-height: 3rem;
  }
}
  .heading--primary {
    font-size: 2.5em;
    text-transform: uppercase;
    @media screen and (min-width: 500px) {
      font-size: 4rem;
    }
  }
  .heading--secundary {
    font-size: 1.5rem;
    text-transform: uppercase;
    @media screen and (min-width: 500px) {
      font-size: 2.5rem;
    }
  }
  .heading--tertiary {
      font-size: 1.6rem;
  }
  .heading--move-left {
    animation: moveInLeft 1s ease-out;
  }
  .heading--move-up {
    animation: moveInUp 1s ease-out;
  }
