.margin-bottom {
  margin-bottom: 2rem;
}

.content {
  max-width: 900px;
  margin: 50px auto 0 auto;
  padding: 1rem;
  @media screen and (min-width: 768px) {
    margin: 300px auto 0 auto;
  }
}

.title {
  color: $color-icyblue-darker;
}

.personalia__icon {
  height: 1rem;
  width: 1rem;
  margin-right: .5rem;
  fill: $color-icyblue-darker;
}

.skills__icon {
  height: 1rem;
  width: 1rem;
  margin-right: .2rem;
}

.frame {
  display: inline-block;
  height: 6rem;
  text-align: center;
  @media screen and (min-width: 500px) {
    height: 8rem;
  }
}
  .frame__span {  // Vertcal align
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
  }
  .frame__hobby-img {
    vertical-align: bottom;
    opacity: .1;
  }
    .frame__hobby-img--guitar {
      height: 6rem;
      @media screen and (min-width: 500px) {
        height: 8rem;
      }
    }
    .frame__hobby-img--gaming {
      height: 3.5rem;
      @media screen and (min-width: 500px) {
        height: 5rem;
      }
    }
    .frame__hobby-img--motorcycle {
      height: 5rem;
      margin-left: 2.5rem;
      @media screen and (min-width: 500px) {
        height: 7rem;
      }
    }
