.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 225px;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-icyblue, .9),
    rgba($color-icyblue-darker, .9)),
    url(assets/images/gtr.jpeg);
  background-size: cover;
  background-position: center;
  box-shadow: 1rem 1rem 1.5rem rgba($color-dark, .2);
  @media screen and (min-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: none;
  }
}
  .header__container {
    display: flex;
    max-width: 900px;
    width: 100%;
  }
  .header__box-profile-img {
    display: inline-flex;
    margin-top: -1rem;
    margin-left: -5rem;
    @media screen and (min-width: 500px) {
      margin-top: -2.2rem;
      margin-left: -4.8rem;
    }
  }
  .header__profile-img {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    border: 3px solid $color-icyblue-darker;
    box-shadow: 1rem 1rem 1.5rem rgba($color-dark, .2);
    @media screen and (min-width: 500px) {
      width: 18rem;
      height: 18rem;
    }
  }
  .header__box-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.5rem;
    padding: .5rem;
    @media screen and (min-width: 500px) {
      margin-top: 2.5rem;
      padding: 1rem;
    }
  }
