// .form {
// }
.form__input {
  display: block;
  max-width: 20rem;
  width: 100%;
  padding: 1rem 1.5rem;
  font-family: inherit;
  font-size: 1rem;
  color: inherit;
  border-radius: 5px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: rgba($color-icyblue, .5);
  transition: all .3s;
}
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid green;
    box-shadow: 0 .5rem 1rem rgba($color-dark, .1);
  }
  .form__input:focus:invalid {
    border-bottom: 3px solid red;
  }
  .form__input::-webkit-input-placeholder {
    color: $color-dark;
  }

.form__label {
  display: block;
  font-size: .8rem;
  font-weight: 700;
  margin-top: .3rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  transition: all .3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
