<section class="content">
  <div class="container">
    <div class="grid-1-full">
      <h3 class="heading--tertiary">Over mij:</h3>
    </div>
    <div class="grid-1-full">
      <p>
          Na jarenlang meerdere functies te hebben gehad in de telecomwereld, heb ik begin 2019 het besluit genomen Front-end Developer te worden. Ik ben leergierig, perfectionistisch en heb een goede focus om mijn doel te bereiken.
          <br>
          Ik ben erg gemotiveerd om mijn inmiddels opgedane basiskennis uit te breiden en een leuke functie te vinden als Front-end Developer!
      </p>
    </div>
    <div class="grid-1-full">
      <p>
          Ik beschik over een HBO werk- en denkniveau en heb ervaring met Scrum (PSM1 certificering).<br>
          De Nederlandse en Engelse taal beheers ik goed in woord en geschrift.
      </p>
    </div>
    <div class="grid-1-full">
      <h3 class="heading--tertiary">Vaardigheden:</h3>
    </div>
  </div>
  <section class="skill">
    <div class="skill__row">
      <span class="skill__item skill__item--large skill__item--blue">HTML</span>
      <span class="skill__item skill__item--medium">CSS</span>
      <span class="skill__item skill__item--large">JavaScript</span>
    </div>
    <div class="skill__row">
      <span class="skill__item skill__item--small skill__item--margin-left">Vue.js</span>
      <span class="skill__item skill__item--largest skill__item--blue">Angular2+</span>
    </div>
    <div class="skill__row">
      <span class="skill__item skill__item--medium">SASS</span>
      <span class="skill__item skill__item--large skill__item--blue">BEM</span>
      <span class="skill__item skill__item--small">Git</span>
      <span class="skill__item skill__item--medium">ITCSS</span>
    </div>
  </section>
  <div class="hobby">
    <div class="frame">
      <span class="frame__span"></span>
      <img src="/assets/images/guitar.png" alt="Guitar" class="frame frame__hobby-img frame__hobby-img--guitar">
    </div>
    <div class="frame">
      <span class="frame__span"></span>
      <img src="/assets/images/gaming.png" alt="Gaming" class="frame frame__hobby-img frame__hobby-img--gaming">
    </div>
    <div class="frame">
      <span class="frame__span"></span>
      <img src="/assets/images/motorcycle.png" alt="Motorcycle" class="frame frame__hobby-img frame__hobby-img--motorcycle">
    </div>
  </div>
</section>
