<section class="content">
    <h3 class="heading--tertiary">Portfolio:</h3>
    <p>Alle onderstaande projecten zijn op eigen initiatief gebouwd en betreft dus <strong>geen</strong> cursusmateriaal.</p>
    <div class="portfolio__container">
      <div class="portfolio__item" *ngFor="let item of portfolio">
        <div class="portfolio__title">{{ item.title }}</div>
        <div class="portfolio__description">{{ item.desc }}</div>
        <div class="portfolio__used">{{ item.used }}</div>
        <div class="portfolio__link"><a href="{{ item.bitBucketLink }}" target="_blank">BitBucket</a> - <a href="{{ item.link }}" target="_blank">View result</a></div>
      </div>
    </div>
</section>
