@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-10rem);
  }
  80% {
      transform: translateX(1rem);
  }
  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInUp {
  0% {
      opacity: 0;
      transform: translateY(6rem);
  }
  80% {
      transform: translateY(-.5rem);
  }
  100% {
      opacity: 1;
      transform: translate(0);
  }
}
